@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 18px;
  background-color: white;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: white;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: white;
  content: "";
  top: $top;
}

.hamburger {
  position: relative;
  width: 30px;
  height: 40px;
  transition-duration: 0.5s;
 

  :global .icon {
    @include icon(4px, 30px);

    &:before {
      @include icon-before(4px, 30px, -10px);
    }

    &:after {
      @include icon-after(4px, 30px, 10px);
    }
  }

  &:hover {
    cursor: pointer;
  }
}


.hamburger-open {
  position: relative;
  width: 30px;
  height: 40px;
  transition-duration: 0.5s;

  :global .icon {
    @include icon(4px, 30px);
    transition-duration: 0.5s;
    background: transparent;

    &:before {
      @include icon-before(4px, 30px, -10px);
      transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
    }

    &:after {
      @include icon-after(4px, 30px, 10px);
      transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.hamburgerSmall {
  position: relative;
  width: 30px;
  height: 40px;
  transition-duration: 0.5s;
 

  :global .icon {
    @include icon(2px, 20px);

    &:before {
      @include icon-before(2px, 20px, -7px);
    }

    &:after {
      @include icon-after(2px, 20px, 7px);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.hamburgerSmall-open {
  position: relative;
  width: 30px;
  height: 40px;
  transition-duration: 0.5s;

  :global .icon {
    @include icon(2px, 20px);
    transition-duration: 0.5s;
    background: transparent;

    &:before {
      @include icon-before(2px, 20px, -7px);
      transform: rotateZ(45deg) scaleX(1.25) translate(3px, 0px);
    }

    &:after {
      @include icon-after(2px, 20px, 7px);
      transform: rotateZ(-45deg) scaleX(1.25) translate(7px, -7px);
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.header {
  background: rgba(18, 18, 18, 0.067);
  box-shadow: inset 50px -50px 50px rgba(14, 14, 14, 0.067), inset -50px 50px 50px rgba(255, 255, 255, 0.067);
}

.glassy {
  backdrop-filter: blur(22.5px);
  -webkit-backdrop-filter: blur(22.5px);
}